@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

/*----------------------------- Navbar */

.navbar-wrapper {
	background-color: #176073;
	font-family: "raleway", sans-serif;
	font-size: 18px;
}

.navbar-brand {
	font-size: 2rem;
	font-weight: 300;
	margin-left: 1px;
}

#nav-login {
	font-family: "raleway", sans-serif;
	font-size: 16px;
	color: #ffffff;
}

#login-icon {
	margin-right: 10px;
	;
}

.modal-backdrop.show {
	z-index: 1;
}


/*------------------------------ Hero image */

.hero-image img {
	width: 100vw;
}


/*------------------------------ Bio section  */

.card {
	background-color: #323232;
	margin: 0 auto;
	margin-bottom: 0px;
}

.card-title {
	font-family: "raleway", sans-serif;
	color: #ffffff;
	font-weight: 600;
	font-size: 48px;
}

.card-text {
	font-family: "raleway", sans-serif;
	font-size: 16px;
	color: #ffffff;
	padding-top: 1px;
}

.bio-section-wrapper {
	padding: 0px;
	min-height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.bio-section-wrapper {
		padding: 0px;
		min-height: 10vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}


/*------------------------------ News section  */

.tourist-heading {
    width: 90vw;
}

.tourist-heading h2 {
	margin-top: 1rem;
	margin-left: 1rem;
	padding-left: 5px;
	font-family: "raleway", sans-serif;
	font-size: 48px;
	font-weight: 700;
	color: #002D47;
}

.block-divider {
	border-top: 2px solid #002D47;
	margin-top: 1px;
	margin-left: 5px;
	width: 80vw;
}

.news-section img {
	width: 280px;
	margin-top: 2rem;
	margin-bottom: 1rem;
	box-shadow: 10px 20px 40px rgb(141, 141, 141);
}

.tourist-news div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tourist-news h2 {
	font-family: "raleway", sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #002D47;
}

.tourist-news p {
	font-family: "raleway", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #002D47;
}

.tourist-news a {
	width: 280px;
	color: #002D47;
}

@media (max-width: 575.98px) {
	.tourist-heading h2 {
		margin-top: 1rem;
		padding-left: 5px;
		font-family: "raleway", sans-serif;
		font-size: 36px;
		font-weight: 700;
		color: #002D47;
	}
}


/*------------------------------ Tour dates section  */

.tour-section h3 {
	font-family: "raleway", sans-serif;
	font-size: 14px;
	color: #ffffff;
}

.dates-wrapper {
	background-color: #323232;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 4rem;
	margin-top: 2rem;
}

.tour-section-divider {
	border-top: 2px solid #ffffff;
}

.tour-container {
	margin-top: 2rem;
}

.on-sale-button h3 {
	float: right;
}

@media (min-width: 1200px) {
	.tour-section h3 {
		font-family: "raleway", sans-serif;
		font-size: 16px;
		color: #ffffff;
	}
}

/*------------------------------ Footer section  */

.tourist-footer {
	background-color: #545454;
	min-height: 10rem;
	justify-content: center;
	align-items: center;
}

.social-media i {
	font-size: 30px;
	color: #ffffff;
	margin-top: 3rem;
}

.social-media i:hover {
	color: #38c1e4;
}

.top-button a {
	font-family: "raleway", sans-serif;
	font-size: 12px;
	color: #002D47;
	margin-top: 2rem;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border-radius: 30px;
}

.top-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-button a:hover {
	background-color: #38c1e4;
	color: #ffffff;
}


/*------------------------------ Music section  */

.music-wrapper div {
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.music-catalogue img {
	width: 200px;
	box-shadow: 10px 10px 20px #808080;
	margin-bottom: 1rem;
}

.music-catalogue a {
    text-decoration-color: #002D47;
}

@media (max-width: 575.98px) {
	.music-catalogue img {
		width: 120px;
		box-shadow: 10px 10px 20px #808080;
		margin-bottom: 1rem;
	}
}

.music-catalogue h3 {
	font-family: "raleway", sans-serif;
	font-size: 18px;
	color: #002D47;
	text-align: center;
	margin-top: 1rem;
}


/*------------------------------ Live section  */

.live-event-table {
	background-color: #323232;
	height: 20rem;
	margin-bottom: 2rem;
	padding-left: 1rem;
	padding-top: 1rem;
    margin-top: 2rem;
}

.event-table-info {
	height: 18rem;
}

.event-table-info h3 {
	font-family: "raleway", sans-serif;
	font-size: 26px;
	color: #ffffff;
	font-weight: 200;
}

.event-table-info h2 {
	font-family: "raleway", sans-serif;
	font-size: 32px;
	color: #ffffff;
	font-weight: 700;
	margin-top: 4rem;
}

.event-table-info h4 {
	font-family: "raleway", sans-serif;
	font-size: 16px;
	color: #ffffff;
	font-weight: 400;
	margin-top: 6rem;
}

.event-table-info a {
	color: #ffffff;
}

.maps-api {
	width: 250px;
	height: 250px;
	background-color: #ffffff;
	float: right;
	margin-right: 1rem;
}

@media (max-width: 767.98px) {
	.maps-api {
		width: 130px;
		height: 130px;
		background-color: #ffffff;
		float: right;
		margin-right: 2px;
	}
	.event-table-info h3 {
		font-family: "raleway", sans-serif;
		font-size: 18px;
		color: #ffffff;
		font-weight: 200;
	}
	.event-table-info h2 {
		font-family: "raleway", sans-serif;
		font-size: 18px;
		color: #ffffff;
		font-weight: 700;
		margin-top: 5em;
	}
	.event-table-info h4 {
		font-family: "raleway", sans-serif;
		font-size: 14px;
		color: #ffffff;
		font-weight: 400;
		margin-top: 6rem;
	} 
}

@media (max-width: 1024px) {
	.live-hero-typography h3 {
		font-family: "raleway", sans-serif;
		font-size: 90px;
		font-weight: 700;
		color: #002D47;
		margin-top: 2rem;
		padding-left: 2rem;
	}
	.live-tour-image img {
		width: 200px;
		float: right;
		padding-right: 2rem;
		margin-top: 2rem;
	}
	.live-hero-wrapper {
		height: 50vh;
		background-color: #D3D3D3;
		margin-bottom: 2rem;
	}
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .event-table-info h2 {
	font-family: "raleway", sans-serif;
	font-size: 32px;
	color: #ffffff;
	font-weight: 700;
	margin-top: 2rem;
}
}


/*------------------------------ Contact section  */

.contact-heading h2 {
	font-family: "raleway", sans-serif;
	font-size: 48px;
	font-weight: 700;
	color: #002D47;
	margin-top: 1rem;
	margin-left: 8rem;
}

.contact-form {
	background-color: #323232;
	width: 80vw;
	height: 35rem;
	margin-bottom: 6rem;
	margin-top: 1rem;
	padding-left: 1rem;
	padding-top: 1rem;
}

.contact-form p {
	font-family: "raleway", sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
}

.form-control {
	margin-top: 1rem;
	border-radius: 20px;
}

#message-input {
	height: 15rem;
}

.btn {
	margin-top: 1rem;
	float: right;
	border-radius: 20px;
	width: 6rem;
	font-family: "raleway", sans-serif;
}

.btn button:hover {
	background-color: #38c1e4;
	color: #ffffff;
}

#contact-form textarea {
	resize: none;
}

.modal-body .modal-title {
	font-family: "raleway", sans-serif;
}

@media (max-width: 767.98px) {
	.contact-form p {
		font-family: "raleway", sans-serif;
		font-size: 14px;
		color: #ffffff;
	}
	.contact-form {
		background-color: #323232;
		width: 100vw;
		height: 35rem;
		margin-bottom: 6rem;
		margin-top: 1rem;
		padding-left: 1rem;
		padding-top: 1rem;
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media (max-width: 575.98px) {
	.contact-heading h2 {
		font-family: "raleway", sans-serif;
		font-size: 36px;
		font-weight: 700;
		color: #002D47;
		margin-top: 1rem;
		margin-left: 1rem;
	}
}

@media (min-width: 575px) and (max-width: 991.98px) {
	.contact-heading h2 {
		font-family: "raleway", sans-serif;
		font-size: 36px;
		font-weight: 700;
		color: #002D47;
		margin-top: 1rem;
		margin-left: 3rem;
	}
}

@media (min-width: 1024px) and (max-width: 1366px) {
	.contact-heading h2 {
		font-family: "raleway", sans-serif;
		font-size: 36px;
		font-weight: 700;
		color: #002D47;
		margin-top: 1rem;
		margin-left: 5rem;
	}
}


/*------------------------------ Quiz section  */

.quiz-table {
	height: 30rem;
	background-color: #323232;
	margin-bottom: 4rem;
	box-shadow: 20px 30px 40px rgb(141, 141, 141); 
}

.quiz-heading h3 {
	font-family: "raleway", sans-serif;
	font-size: 32px;
	font-weight: 800;
	color: #ffffff;
	padding-top: 5px;
}

.quiz-question h3 {
	font-family: "raleway", sans-serif;
	font-size: 18px;
	color: #ffffff;
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-align: center;
}

.quiz-answers p {
	width: 300px;
	margin-top: 5px;
	border: none;
}

.results-answer h3 {
	font-family: "raleway", sans-serif;
	font-size: 30px;
	font-weight: 800;
	color: #ffffff;
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-align: center;
}

.results-feedback h3 {
	font-family: "raleway", sans-serif;
	font-size: 18px;
	font-weight: 200;
	text-align: center;
	color: #ffffff;
}

.submit-button p {
	width: 300px;
	margin-top: 4rem;
	border: none;
}

.refresh-button p {
	width: 300px;
	margin-top: 4rem;
	border: none;
	float: none;
}

.quiz-answers p:hover {
	background-color: rgb(190, 190, 190);
}  

.submit-button p:hover {
	background-color: rgb(190, 190, 190);
}

.refresh-button p:hover {
	background-color: rgb(190, 190, 190);
} 

.btn-correct {
	background-color: #76B966;
}

.btn-incorrect {
	background-color: #CE5D5D;
}

.hide-element {
	display: none;
}

.disabled {
	pointer-events: none;
}

@media (min-width: 768px) {
	.quiz-heading h3 {
		font-family: "raleway", sans-serif;
		font-size: 40px;
		font-weight: 800;
		color: #ffffff;
		padding-top: 5px;
	}
	.quiz-table {
		height: 30rem;
		background-color: #323232;
		margin-top: 8rem;
	}
}

@media (min-width: 768px) {
	.quiz-table {
		height: 30rem;
		background-color: #323232;
		margin-top: 4rem;
	}
}

@media (min-width: 992px) {
	.quiz-table {
		height: 30rem;
		width: 80vw;
		background-color: #323232;
		margin-top: 4rem;
	}
}

@media (min-width: 768px) {
	.results-answer h3 {
		font-family: "raleway", sans-serif;
		font-size: 40px;
		font-weight: 800;
		color: #ffffff;
		margin-top: 2rem;
		margin-bottom: 2rem;
		text-align: center;
	}
}


/* --------------------------- Music-info section */

.music-info-heading h2 {
	font-family: "raleway", sans-serif;
	font-size: 48px;
	font-weight: 700;
	color: #ffffff;
	margin-top: 2rem;
	padding-left: 6rem;
}

.tourist-tracklist {
	margin-top: 1rem;
	margin-bottom: 6rem;
}

.tourist-tracklist h3 {
	font-family: "raleway", sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #ffffff;
	padding-left: 6rem;
	margin-top: 1rem;
	list-style-type: none;
}

.music-artwork img {
	width: 300px;
	float: right;
	margin-bottom: 7rem;
	margin-right: 4rem;
}

#music-table {
	height: 37rem;
}

.music-info-section div {
	height: 15rem;
}

.music-info-btn {
	font-family: "raleway", sans-serif;
	padding-right: 5rem;
	margin-top: 2rem;
}

.music-info-container {
	height: 100vh;
}

@media (max-width: 1024px) {
	.music-artwork img {
		width: 250px;
		float: right;
		margin-bottom: 7rem;
		margin-right: 4rem;
	}
}

@media (max-width: 575.98px) {
	.music-artwork img {
		width: 150px;
		float: right;
		margin-bottom: 7rem;
		margin-right: 5px;
	}
	.tourist-tracklist h3 {
		font-family: "raleway", sans-serif;
		font-size: 14px;
		font-weight: 300;
		color: #ffffff;
		padding-left: 5px;
		margin-top: 1rem;
	}
	#music-table {
		height: 34rem;
		padding-right: 5px;
		padding-left: 5px;
	}
	.music-info-heading h2 {
		font-family: "raleway", sans-serif;
		font-size: 36px;
		font-weight: 700;
		color: #ffffff;
		margin-top: 1rem;
		padding-left: 5px;
	}
	.music-info-btn {
		font-family: "raleway", sans-serif;
		padding-right: 1rem;
		margin-top: 3px;
	}
}

@media (max-width: 320px) {
	.music-artwork img {
		width: 120px;
		float: right;
		margin-bottom: 7rem;
		margin-right: 5px;
	}
	.music-info-btn {
		font-family: "raleway", sans-serif;
		padding-right: 5px;
		margin-top: 3px;
	}
}

